<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <table class= "table">
        <tr>
            <th>순위</th>
            <th>게임명</th>
            <th>제조사</th>
            <th>장르</th>
            <th>총점</th>
        </tr>
        <tr th:each="ourRanking : ${list} ">
            <td th:text="${ourRanking.ranking}"></td>
            <td th:text="${ourRanking.gamename}"></td>
            <td th:text="${ourRanking.genre}"></td>
            <td th:text="${ourRanking.madecompany}"></td>
            <td th:text="${ourRanking.score}">점</td>
        </tr>
    </table>
    <a th:href="@{/}">홈으로</a>
</div>
</body>
</html>